https://github.com/mwinteringham/restful-booker  
1. Что за сайт, какой функционал
2. Тест план
3. Баг-репорт